html {
    height: 100%;
}

body {
    background-image: url(assets/login-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 400px;
    height: 400px;

    background-color: rgba(30, 30, 30, 0.8);
    border: 2px solid #e0e0e0;
    border-radius: 5px;


    .principalTitle {
        margin-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(65, 65, 65, 0.4);
        border: 2px solid #e0e0e0;
        border-radius: 5px;
        color: white;
        font-size: 35px;


        h3, h4 {
            border: 0px;
            margin: 0px;
        }

    }

    .formularioLogin {
        display: flex;
        flex-direction: column;
        text-align: left;
        color: white;
        gap: 4px;

        div {
            display: flex;
            flex-direction: column;
        }

        input {
            border: 2px solid #e0e0e0;
            border-radius: 5px;
            background-color: black;
            color: white;
            width: 300px;
            height: 25px;
            outline: none;
        }


    }

    .buttonsClass {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;

        button {
            width: 250px;
            height: 30px;
            font-size: 18px;
            color: white;
            border: 2px solid #e0e0e0;
            background-color: rgba(65, 65, 65, 0.9);

        }

        #entrarButton:hover {
            background-color: green !important;
            border-color: green !important;
        }

        #cadastroButton:hover {
            background-color: yellow !important;
            border-color: yellow !important;
        }


    }

@media (max-width: 600px) {
    .principal {
        width: 95%;
        height: auto;
        padding: 10px;
    }

    .formularioLogin input,
    .buttonsClass button {
        width: 100%;
        height: 40px;
        font-size: 1rem;
    }

    .principalTitle h3 {
        font-size: 1.5rem;
    }

    .listaUsuarios ul {
        padding-left: 10px;
        font-size: 0.9rem;
    }
}


}